<h2>Sign In</h2>

<div>
  <form #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" ngModel />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel />
    </div>
    <button type="submit">Sign In</button>
  </form>
</div>

<div>
  <button (click)="goBack()">Back</button>
</div>

<div *ngIf="isLoginSuccessful">
    <h3 class="success">Login Successful!</h3>
 </div>
  
  <div *ngIf="isLoginFailed">
    <h3 class="error">Wrong username & password combination!</h3>
  </div>